<!DOCTYPE html>
<html>
  <head>
    <title>Food Quiz</title>
  </head>
  <body>
    <h1> Here's Your Food</h1>
    <h1><%=@result_1%></h1>
    <a href=<%=@result_2%>>buy this food</a>
    <a href=<%=@result_3%>>
    <h1><%=@result_4%></h1>
    <a href=<%=@result_5%>></a>
    <img src=<%=@result_6%>>
  </body>
</html>